# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
awscli=1.24.10=pypi_0
beautifulsoup4=4.11.1=pypi_0
botocore=1.26.10=pypi_0
brotli=1.0.9=pypi_0
ca-certificates=2022.4.26=h06a4308_0
certifi=2021.5.30=py36h06a4308_0
charset-normalizer=2.0.12=pypi_0
colorama=0.4.4=pypi_0
docutils=0.16=pypi_0
fuzzyset=0.0.19=pypi_0
idna=3.3=pypi_0
importlib-resources=5.4.0=pypi_0
jmespath=0.10.0=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
mutagen=1.45.1=pypi_0
ncurses=6.3=h7f8727e_2
openssl=1.1.1o=h7f8727e_0
pip=21.2.2=py36h06a4308_0
pyasn1=0.4.8=pypi_0
pycryptodomex=3.14.1=pypi_0
python=3.6.13=h12debd9_1
python-dateutil=2.8.2=pypi_0
python-dotenv=0.20.0=pypi_0
python-levenshtein=0.12.2=pypi_0
pyyaml=5.4.1=pypi_0
readline=8.1.2=h7f8727e_1
requests=2.27.1=pypi_0
rsa=4.7.2=pypi_0
s3transfer=0.5.2=pypi_0
selenium=3.141.0=pypi_0
setuptools=58.0.4=py36h06a4308_0
six=1.16.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.3=hc218d9a_0
texttable=1.6.4=pypi_0
tk=8.6.11=h1ccaba5_1
tqdm=4.64.0=pypi_0
urllib3=1.26.9=pypi_0
webdriver-manager=3.7.0=pypi_0
websockets=9.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h7f8727e_1
youtube-transcript-api=0.4.4=pypi_0
yt-dlp=2022.5.18=pypi_0
zipp=3.6.0=pypi_0
zlib=1.2.12=h7f8727e_2
